@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
   --bg-color: #f2f2f2;
   --font-color: #53a0c4;
   --button-main: #f7f7f7;
   --button-accent: #61c6f2;
}

/* layout */

*,
*::after,
*::before {
   box-sizing: border-box;
}

html,
body,
#root {
   height: 100%;
}

body,
p {
   margin: 0;
}

html {
   font-size: 16px;
}

body {
   font-family: "Open Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--font-color);
   background: hsla(198, 85%, 66%, 1);

   background: linear-gradient(
      135deg,
      hsla(198, 85%, 66%, 1) 20%,
      hsla(239, 51%, 68%, 1) 100%
   );

   background: -moz-linear-gradient(
      135deg,
      hsla(198, 85%, 66%, 1) 20%,
      hsla(239, 51%, 68%, 1) 100%
   );

   background: -webkit-linear-gradient(
      135deg,
      hsla(198, 85%, 66%, 1) 20%,
      hsla(239, 51%, 68%, 1) 100%
   );
}

#root {
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-container {
   height: 100%;
   max-height: 760px;
   width: 100%;
   max-width: 400px;
   background: var(--bg-color);
   padding: 1rem;
   display: grid;
   grid-template-rows: 3fr 7fr;
}

/* screen component */

.screen-container {
   text-align: right;
   position: relative;
   height: 100%;
}

.screen-inner {
   position: absolute;
   bottom: 0;
   width: 100%;
   overflow: hidden;
}

.display {
   overflow-wrap: break-word;
   text-shadow: 0.25px 0.25px 1px #d2d2d2;
   font-weight: 300;
}

.animate-main-display {
   animation: animate-main-display 250ms ease;
}

.animate-sub-display {
   animation: animate-sub-display 250ms ease;
}

.animate-lineheight {
   animation: animate-lineheight 250ms ease;
}

@keyframes animate-main-display {
   0% {
      transform: translateY(4rem);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes animate-sub-display {
   0% {
      transform: scale(1.25) translateX(-3.25rem);
   }
   100% {
      transform: scale(1) translateX(0);
   }
}

@keyframes animate-lineheight {
   0% {
      line-height: 0.75;
   }
   100% {
      line-height: 1.35;
   }
}

/* button components */

.button-container {
   width: 100%;
   margin-top: 2rem;
   margin-bottom: 1rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, max-content);
   gap: 1.25rem;
}

.button {
   background: var(--button-main);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   margin: 0;
   font-size: 2.35rem;
   box-shadow: 0.25rem 0.25rem 0.75rem #d2d2d2;
   aspect-ratio: 1/1;
   cursor: pointer;
   -webkit-tap-highlight-color:  transparent;
}

.button:active {
   background: #f2f6fa;
   transform: scale(0.97);
}

.button:nth-of-type(2) {
   font-size: 2rem;
}

.button:nth-of-type(4n),
.button:last-of-type {
   background: var(--button-accent);
   color: var(--button-main);
   box-shadow: 0 0.35rem 0.75rem #99d8ec;
}

.button:nth-of-type(4n):active,
.button:last-of-type:active {
   background: #52bff1;
}

.button:last-of-type {
   grid-column: 3/-1;
   aspect-ratio: 0;
   border-radius: 100px;
}

/* media queries */

@media (max-height: 690px) {
   html,
   body,
   #root {
      height: auto;
      min-height: 100%;
   }

   .button-container {
      margin-bottom: 0;
      margin-top: 2rem !important;
   }
}

@media (min-height: 760px) {
   .main-container {
      border-radius: 10px;
   }
}

@media (max-width: 359px) {
   html {
      font-size: 15px;
   }
}

@media (max-width: 320px) {
   html {
      font-size: 14px;
   }
}

@media (max-width: 300px) {
   html {
      font-size: 12px;
   }
}

@media (min-width: 520px) {
   .main-container {
      max-width: 460px;
      max-height: 770px;
      padding: 1.5rem;
   }

   .button-container {
      margin-bottom: 0;
      gap: 1rem;
   }

   @media (max-height: 720px) {
      .button-container {
         margin-top: 1rem;
      }
   }
}
